/* selects the body element */
body {
    font-family: 'Ariel';
    font-size: 24px;
}

h1 {
    font-family: 'Montserrat';
    font-size: 28px;
}

a {
    color: black;
    text-decoration-line: underline;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.wrapper {
    /* background: lightgray; */
    margin: 24px;
    padding: 24px;
}

.center {
    text-align: center;
    margin: 24px;
}

#header {
    color: black;
    font-size: 32px;
}

a:hover {
    color: blue;
}
